.description {
    padding-top: 65px;
    .wrapper {
        article {
            text-align: center;
            .prod-name {
                font-weight: bold;
                font-size: 36px;
                margin-bottom: 9px;
                color: $secondary-grey;
            }
            .prod-number {
                font-style: italic;
                font-size: 14px;
                color: $light-grey;
                margin-bottom: 24px;
    
            }
            .price {
                font-size: 18px;
                font-style: italic;
                color: $light-grey;
                margin-bottom: 32px;
    
            }
            .prod-descript {
                font-size: 14px;
                color: $light-grey;

            }
            
        }
    }
}